html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-thumb {
	display: none;
}

/* HOMEPAGE SETTINGS */

.home-header {
	justify-content: space-between;
}

.brand-name {
	margin: 0.5rem 0;
	font-size: larger;
	font-weight: bolder;
	font-variant: petite-caps;
	color: green;
	text-align: center;
}

.home-search {
	position: relative;
	width: 75vw;
	height: 2rem;
	background: #e3dcc3;
	margin: auto;
	margin-top: 4rem;
	box-shadow: 1px 1px 1px 1px;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-search-bar,
.home-search-submit-button {
	padding: 1rem;
	height: 2rem;
	border-radius: 2rem;
	border: none;
	background-color: transparent;
}

.home-search-bar {
	width: 95%;
}

.home-search-bar:focus-visible {
	outline: none;
}

.home-search-submit-button {
	position: absolute;
	right: 0%;
}

.home-search-suggestions{
	position: absolute;
	top: 100%;
	width: 90%;
	margin: auto;
	padding-inline: 0;
	border: 1px solid black;
}


.home-search-suggestions li{
	background-color: white;
	border-top:1px solid black ;
	margin: 0;
	padding: 0;
	list-style: none;
	padding:0 .5rem ;
	cursor: pointer;
}


.home-categories {
	margin: 2rem 0;
}
.home-categories p {
	font-weight: bold;
}

.home-categories div {
	background-color: #e3dcc3;
	overflow-x: scroll;
	display: flex;
	justify-content: space-evenly;
}

.home-categories div a{
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	color: black;
		margin: 0.25rem;
	background-color: #cdab82;
	border: none;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.home-meals > p {
	font-weight: bold;
}

.home-meals section {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 0 0 2rem 0;
}

.home-meals section > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 45vw;
	max-width: 200px;
	min-width: 110px;
	overflow: hidden;
	margin: 0.5rem 0.5rem;
}

.home-meals section .image-wrapper {
	width: 45vw;
	height: 45vw;
	max-width: 200px;
	min-width: 110px;
	max-height: 200px;
	min-height: 110px;

	position: relative;
	border-radius: 25%;
	overflow: hidden;
}

.home-meals section img {
	height: 100%;
}

.home-meals section > div p {
	margin: 0;
	text-align: center;
}

.home-meals .view-details {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10%;
	background-color: white;
	border: none;
	padding: 0.3rem;
	border-radius: 0.6rem;
}

.view-details span {
	font-weight: bolder;
	vertical-align: center;
	color: red;
}

.view-meal{
	
}

.view-meal-header{
	display: flex;
	align-items: center;
}

.view-meal-back-icon-wrapper{
	height: 2rem;
	width: 2rem;
	position: relative;
	overflow: hidden;
}

.view-meal-header-text{
	margin: auto;
	font-weight: bold;
}

.view-meal-main{
	padding: .5rem;
}

.view-meal-image-wrapper{
	width: 100%;
	aspect-ratio: 1/1;
	background-color: black;
	border: 2px solid black;
}


.view-meal-image-wrapper img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* SHARED */
/* HOMEPAGE FOOTER */
.homepage footer,
.sidebar-settings footer {
	height: 2rem;
	background-color: white;
	position: fixed;
	bottom: 0;
	width: 100vw;
	display: flex;
	justify-content: space-around;
}

.homepage footer a,
.sidebar-settings footer a {
	display: flex;
	align-items: center;
}

/* SHARED HEADERS */
.home-header,
.cart-header,
.sidebar-settings-header,
.schedule-header,
.profile-header,
.meal-fed-header, .category-header {
	width: 100vw;
	display: flex;
	align-items: center;
	height: 2rem;
	position: fixed;
	top: 0;
	overflow: hidden;
	z-index: 2;
	background-color: white;
}

.cart-header img,
.sidebar-settings-header img,
.schedule-header img,
.profile-header img,
.meal-fed-header img,.category-header .back-icon {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.cart-header span,
.schedule-header span,
.profile-header span,
.meal-fed-header span, .category-header span {
	width: 100vw;
	text-align: center;
	font-weight: bold;
}

/* SHARED BUTTONS */
.cart-checkout,
.make-schedule,
.profile-button,
.unchanged-profile button, .meal-fed>button {
	margin: auto;
	background-color: white;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: max-content;
	font-weight: bold;
	box-shadow: 2px 2px 2px 2px black;
}

/* CENTERING IMAGES */

.home-search-submit-button img,
.home-meals section img,
.cart-item-image img,
.profile-main header div img,
.unchanged-profile > div {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}

/* SHARED*/


/* CATEGORY */

.category{
	margin: 2rem 0;
}

.category-meals p{
 margin: 0;
 width: 45vw;
}

.category .cart-icon{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

}

.category-meals {
	width: 100vw;
}


.category-meals .meal-wrapper{
	background-color: #aaaaaa;
	margin:auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.category-meals .image-wrapper {
	width: 45vw;
	height: 40vw;
	position: relative;
	border-radius: 25%;
	overflow: hidden;
}

.category-meals .meal-wrapper img {
	height: 100%;
}

.button-wrapper{
	width: 45vw;
	display: flex;
	justify-content: flex-start;
}

.category-atc-button{
	width: 60%;
	text-align: start;
	height: 1.2rem;
	overflow: hidden;
	position: relative;
	background-color: #888888;
	border: none;
}

.category-atc-button img{
	position: absolute;
	right: 0;
	height: 100%;
	
}



.category footer{
	background-color: white;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100vw;
	padding: .5rem;
	z-index: 2;
}

/* SIDEBAR SETTINGS */

.sidebar-settings-main {
	margin: 2rem auto;
	width: 85vw;
	display: flex;
	flex-direction: column;
}

.sidebar-settings-main button {
	height: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0.5rem 0;
	border: none;
	background-color: white;
}

.sidebar-settings-main button span {
	width: 50%;
	text-align: start;
	font-weight: bold;
}

/* CART SETTINGS */
.cart-main-items {
	width: 85vw;
	margin: 2rem auto;
}

.cart-main-items > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-item {
	border-radius: 0.5rem;
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-auto-rows: ;
	background-color: #cdab82;
	width: 100%;
	max-width: 350px;
	padding: 0.5rem;
	grid-gap: 0.5rem;
	margin: 1rem 0;
}

.cart-item p {
	margin: 0;
}

.cart-item-image img {
	width: 100%;
}

.cart-item-image {
	align-self: center;
	height: 4rem;
	border-radius: 4rem;
	overflow: hidden;
	position: relative;
}

.cart-item-plates,
.cart-item-total-price {
	justify-self: end;
	text-align: right;
}

.cart-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cart-total-price {
	text-align: center;
}

/* SCHEDULE SETTINGS */


.schedule-form {
	width: 85vw;
	max-width: 400px;
	margin:2rem auto;
	display: flex;
	flex-direction: column;
}

.schedule-form div {
	margin: 1rem 0;
}

.schedule-form input {
	margin: 0;
}

.date-div {
	background-color: grey;
}

.date-label {
	display: block;
	margin: 1rem 0.5rem;
}

.schedule-form .date-input {
	width: 80%;
	margin: 1rem;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
}

/* PROFILE SETTINGS */

.profile {
	display: flex;
	flex-direction: column;
	margin: 2rem auto;
}


.profile-main{
	margin-bottom: 5rem;
	}

.profile-main header {
	display: flex;
	align-items: center;
}

.profile-main header div {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: 0 3rem 0 0;
}

.profile-main div p {
	margin: .5rem 1.5rem;
	display: flex;

}

.profile section{
	margin: 1rem 0;
}

.profile p {
	font-weight: bold;
	margin: .5rem 0;
}

.profile input {
	border: none;
	width: auto;
}

.profile input[disabled] {
	background-color: white;
	color: black;
}

.profile .unchanged-profile {
	position: fixed;
	background-color: rgba(0,0,0,0.2) ;
	height: 100vh;
	width: 100vw;
	margin: 0;
}


.unchanged-profile > div{
	background-color: white;
	width: 100%;
	text-align: center;
	padding: 1.5rem;
}

.unchanged-profile .buttons{
	padding: 1.5rem;
	display: flex;
}

.unchanged-profile-yes{
	color: green;
}

.unchanged-profile-no{
	color: red;
}

/* MEAL FOR EACH DAY */

.meal-fed {
	display: flex;
	flex-direction: column;
	margin: 2rem auto;
}


.meal-fed span {
	padding: 0.5rem;
}

.meal-fed input {
	border: none;
	background-color: transparent;
	padding: 0.5rem;
	width: 100%;
}


.meal-fed section {
	width: 85vw;
	max-width: 400px;
	margin: .5rem auto;
	display: grid;
	grid-template-columns: 1fr 4fr;
	justify-content: center;
	align-items: center;
}


.meal-fed header + section{
	margin-top: 2rem;
}


.meal-fed input:focus-visible {
	outline: none;
}

.meal-fed form button {
	background-color: transparent;
	height: 100%;
	border: none;
	position: absolute;
	right: 0%;
	z-index: 1;
}

.meal-fed form {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: auto;
	background: #e3dcc3;
	border-radius: 2rem;
	box-shadow: 1px 1px 1px 1px;
}

.meal-fed p {
	border-bottom: 2px solid black;
	grid-column-end: 3;
	text-align: center;
}
